:host {
  margin: 2px;
}

.button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  background: var(--light-gray);
}

.button:disabled {
  background: var(--light-gray);
  color: var(--dark-gray);
}

.edit {
  background: var(--blue);
}
.edit:hover,
.edit:focus {
  background: var(--light-blue);
}

.submit {
  background: var(--blue);
}
.submit:hover:not(:disabled) {
  background: var(--light-blue);
}

.primary {
  background: var(--green);
}
.primary:hover,
.primary:focus {
  background: var(--light-green);
}

.danger {
  background: var(--red);
}
.danger:hover,
.danger:focus {
  background: var(--light-red);
}

.cancel {
  background: var(--light-gray);
}
.cancel:hover,
.cancel:focus {
  background: var(--lighter-gray);
  color: var(--dark-gray);
}