.wrapper {
  overflow: auto;
  max-height: 70vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px 23px;
  border: 1px solid;
  text-align: left;
}

.table tr:nth-child(odd):not(thead>tr) {
  background: var(--lighter-gray);
}

.options-column {
  width: 150px;
}
