<div class="wrapper">
  <table class="table">
    <thead>
      <tr>
        <th>Video Name</th>
        <th>Author</th>
        <th>Category name</th>
        <th>Highest quality format</th>
        <th>Release Date</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let video of videos; index as i; first as isFirst">
        <td>{{ video.name }}</td>
        <td>{{ video.author }}</td>
        <td>{{ video.categories.join(", ") }}</td>
        <!-- TODO: It is unclear how to set format_name best, medium etc. -->
        <td>{{ video.highestQuality.format_name }} {{ video.highestQuality.res }}</td>
        <td>{{ video.releaseDate | date: "dd.MM.yyyy" }}</td>
        <td class="options-column">
          <mi-button (click)="onEdit(video)" [text]="'Edit'" [buttonType]="buttonType.edit"></mi-button>
          <mi-button (click)="onDelete(video)" [text]="'Delete'" [buttonType]="buttonType.danger"></mi-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
