<div class="title">
    <h1>{{ isAdd ? 'Add Video' : 'Edit Video:' }} {{ videoName }}</h1>
</div>
<div class="container">
    <form [formGroup]="videoFormGroup">
        <div class="form-element-container">
            <label for="name" class="label">Video name</label>
            <input id="name" type="text" formControlName="name" matInput>
        </div>

        <div class="form-element-container">
            <label for="author" class="label">Video author</label>
            <select id="author" formControlName="author">
                <option *ngFor="let author of authors" [ngValue]="author">{{ author.name }}</option>
            </select>
        </div>

        <div class="form-element-container">
            <label for="categories" class="label">Video category</label>
            <select id="categories" class="select-multiple" multiple formControlName="categories">
                <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
            </select>
        </div>
    </form>
    <div class="action-buttons">
        <mi-button [buttonType]="buttonType.submit" [text]="'Submit'" [disabled]="videoFormGroup.status === 'INVALID'" (click)="onSubmit()"></mi-button>
        <mi-button [buttonType]="buttonType.cancel" [text]="'Cancel'" (click)="onCancel()"></mi-button>
    </div>
</div>

