:root {
  --white: #fff;
  --lighter-gray: #e3e3e3;
  --light-gray: #6e6e6e;
  --dark-gray: #333;
  --light-blue: #50b9d3;
  --blue: #39a2bd;
  --light-green: #33b15b;
  --green: #00ab35;
  --light-red: #ff4949;
  --red: #ff2929;
  --title-border-color: #ddd;
  --form-element-border-color: #ccc;
  --form-element-focus-border-color: #baefff;
}

body {
  margin: 0;
  color: var(--dark-gray);
  font: 16px sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

mi-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
